# kabus-gateway server
KABUS_API_PASSWORD=some_password
KABUS_BASE_URL=http://localhost:18080/kabusapi
GATEWAY_HOST=0.0.0.0
GATEWAY_PORT=18088

# clients (ranking_collector, ws_logger)
GATEWAY_URL=http://192.168.0.0:18088